apiVersion: v1
kind: Secret
metadata:
  name: bifract-secrets
  namespace: bifract
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{.PostgresPassword}}"
  CLICKHOUSE_PASSWORD: "{{.ClickHousePassword}}"
  PASSWORD_PEPPER: "{{.PasswordPepper}}"
  FEED_ENCRYPTION_KEY: "{{.FeedEncryptionKey}}"
  BACKUP_ENCRYPTION_KEY: "{{.BackupEncryptionKey}}"
