apiVersion: v1
kind: Secret
metadata:
  name: bifract-secrets
  namespace: bifract
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{.PostgresPassword}}"
  CLICKHOUSE_PASSWORD: "{{.ClickHousePassword}}"
  CLICKHOUSE_PASSWORD_HASH: "{{.CHPasswordHash}}"
  PASSWORD_PEPPER: "{{.PasswordPepper}}"
  ADMIN_PASSWORD_HASH: "{{.AdminPasswordHash}}"
  FEED_ENCRYPTION_KEY: "{{.FeedEncryptionKey}}"
  BACKUP_ENCRYPTION_KEY: "{{.BackupEncryptionKey}}"
  LITELLM_MASTER_KEY: "{{.LiteLLMMasterKey}}"
  OPENAI_API_KEY: ""
  ANTHROPIC_API_KEY: ""
  S3_ENDPOINT: ""
  S3_BUCKET: ""
  S3_ACCESS_KEY: ""
  S3_SECRET_KEY: ""
  S3_REGION: ""
  MAXMIND_LICENSE_KEY: ""
  MAXMIND_ACCOUNT_ID: ""
